<!DOCTYPE html>  
<html>  
    <head>  
        <meta charset="utf-8">  
        <title> Form Example </title>  
    </head>  
    <body>  
        <form action="">

            <p>Name:</p>
            <input type="text" name="name" placeholder="輸入 name">
        
            <p>Email:</p>
            <input type="text" name="email" placeholder="輸入 email">
            
            <p>Gender:</p>
            <input type="text" name="gender" placeholder="輸入 gender">
            
            <p>Age:</p>
            <input type="text" name="age" placeholder="輸入 age">

        </form> 
    </body>  
</html> 